<style>
.fbutton{
height:85%;width:100px;padding-top:2px;
}
#footer {
    position:fixed;
	margin-top:5%;
    bottom:0;
    width:100%;
    height:8%;   
    background:#6cf;
	position: fixed;
	display: block;
}
#borderdiv {
    border: 2px solid #73AD21;
    padding: 20px; 
    width: 80%;
    height: relative;    
	display: block;
}
#subborderdiv {
    border: 1px solid #73AD21;
    padding: 20px; 
    width: 55%;
    height: relative;    
	display: block;
}
</style>